$blue : #420FE7;
$pink : #EEA1BE;
$darkPurple : #18033C;
$white : #fff;
$off-white : rgba(255, 255, 255, 0.322);
$yellow : #e7a50f;
$primary-font : 'Adapta Display';
$secondary-font : 'Montserrat';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    &::selection{
        background-color: $pink;
    }
}

html,body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
body{
    background-color: $blue;
    color: $white;
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
    color: white;
    &:hover{
        text-decoration: underline wavy;
        color:$pink;
    }
}

nav{
    height: 150px;
    padding: 0 40px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    #navRight{
        display: grid;
        grid-template-columns: 2fr 1fr;

        #nrRight{
            justify-self: end;
        }
    }
}

main{
    padding:2rem 10rem;
    position: relative;
}
#mainTopLines{
    position: relative;
    .line{
        display: inline-block;
        margin-right: 3rem;
        font-weight: 600;
        color: $pink;
        text-transform: capitalize;
        &:last-child{
            margin-right: 0;
        }
    }
}
#mainLeadLine{
    position: relative;
    font-size: 6vw;
    line-height:7.5rem;
    margin-top: 50px;
    span{
        position: relative;
        display: inline-block;
        transition: all ease 0.5s;
        &::before{
            transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
            position: absolute;
            content:'Fullstack';
            font-size: 1rem;
            top:-50%;
            left:0;
            right: 0;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
        }
    }
    span:hover{
        cursor: default;
        color: $pink;
        text-decoration: underline wavy;
        &::before{
            transform: translateY(0px);
            opacity: 1;
            visibility: visible;
        }
    }
    z-index: 2;
    pointer-events: none;
}
#mainSubLead{
    font-family: $secondary-font;
    letter-spacing: 2   px;
    color: $off-white;
    width: 40vw;
    margin-top: 50px;
    line-height: calc(1.2*1.5);

    position: absolute;
    right: 10%;
    bottom: 0;

    border: 1px solid $off-white;
    padding: 20px;

    z-index: 1;

    &:hover{
        border-color: $pink;
        background-color: $pink;
        color: $darkPurple;
        z-index: 10;
    }
}


#mainCTA{
    position: absolute;
    bottom:-100px;
    border: 1px solid $off-white;
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    width:30vw;
    height: 8vh;
    div{
        height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        
        &:last-child{
            border-left: 1px solid $off-white;
        }
    }
}