@import url('https://fonts.googleapis.com/css2?family=Monserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$blue : #420FE7;
$pink : #EEA1BE;
$green : #01ffdc;
$darkPurple : #18033C;
$white : #fff;
$off-white : rgba(255, 255, 255, 0.322);
$yellow : #e7a50f;
$primary-font : 'Adapta Display';
$secondary-font : 'Montserrat';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    &::selection{
        background-color: $green;
        color: black;
    }
}

html,body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
body{
    background-color: $blue;
    color: $white;
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
    color: white;
    &:hover{
        text-decoration: underline wavy;
        color:$green;
    }
}

nav{
    height: 150px;
    padding: 0 40px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    #navRight{
        display: grid;
        grid-template-columns: 2fr 1fr;

        #nrRight{
            justify-self: end;
        }
    }
}

main{
    padding:2rem 10rem;
    position: relative;
}
#mainTopLines{
    position: relative;
    .line{
        display: inline-block;
        margin-right: 3rem;
        font-weight: 600;
        color: $green;
        text-transform: capitalize;
        &:last-child{
            margin-right: 0;
        }
    }
}
#mainLeadLine{
    position: relative;
    font-size: 6vw;
    line-height:7.5rem;
    margin-top: 50px;
    span{
        position: relative;
        display: inline-block;
        transition: all ease 0.5s;
        &::before{
            transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
            position: absolute;
            content:'Fullstack';
            font-size: 1rem;
            top:-50%;
            left:0;
            right: 0;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
        }
    }
    span:hover{
        cursor: default;
        color: $green;
        text-decoration: underline wavy;
        &::before{
            transform: translateY(0px);
            opacity: 1;
            visibility: visible;
        }
    }
   
}
#mainSubLead{
    font-family: $secondary-font;
    letter-spacing: 2   px;
    color: $off-white;
    width: 40vw;
    margin-top: 50px;
    line-height: calc(1.2*1.5);

    position: absolute;
    right: 10%;
    bottom: -120px;

    // border: 1px solid $off-white;
    padding: 20px;

    z-index: 1;

    &:hover{
        color: $green;
    }
}


#mainCTA{
    position: absolute;
    bottom:-100px;
    border: 1px solid $off-white;
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    width:30vw;
    height: 8vh;
    cursor: pointer;
    overflow: hidden;
    div{
        height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        transition: all 0.25s ease;
        &:first-child{
            position: relative;
            &::before{
                position: absolute;
                content : 'Copy';
                width:100%;
                height: 100%;
                display: grid;
                place-items: center;
                background-color: $green;
                color: $darkPurple;
                font-weight: 600;
                transform: translateY(100%);
                opacity: 0;
                visibility: hidden;
                transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
            }
            &:hover{
                &::before{
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &:last-child{
            border-left: 1px solid $off-white;
        }
    }

    
    &:hover{
        div{
            &:first-child{
                &::before{
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
            &:last-child{
                font-size: 0.9rem;
            }
        }
    }
}