html,body{
    height: 100%;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: montserrat;
}
nav{
    display: grid;
    grid-template-columns: 30% auto;
    padding:10px 20px;
    background: rgb(236, 236, 236);
    .restNav{
        justify-self: right;

        a{
            text-decoration: none;
            color:black;
            padding:2px 5px;

            &:hover{
                background: #000;
                color:#fff
            }
        }
    }
}
main{
    display: grid;
    height: 93%;
    grid-template-rows:30% auto;
}
h1{
    font-size:3em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#000;
    background:{
        image:url('//unsplash.it/500/500/?image=127');
        repeat:no-repeat;
        size:cover;
    }
}
.wrapper{
    // background: #000;
    display: grid;
    justify-content: center;
    padding:20px 0;
}
#searchText{
    background:#eee;
    border:none;
    padding:5px 15px;
    font-size: 1.2em;
    width:80vw;
    max-width: 60vw;
    height: 60px;
    max-height: 40px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;

    &::placeholder{
        text-align: center
    }

    &:focus{
        background: #444;
        max-height: 50px;
        max-width: 70vw;
        color:#fff;

        &::placeholder{
            color:#444;
        }
    }
}

#response{
    
    width:60vw;
    padding: 20px;
    box-shadow:0 20px 15px -15px rgba($color:#000000,$alpha: 0.1);

    li{
        list-style-type: none;
        padding:10px;
        cursor:pointer;
        &:hover{
            background: #eee;
        }

    }
}